langchain
langchain-chroma
langchain-community
langchain-classic
langchain-huggingface
langchain-experimental
langchain-groq
langchain-core

chromadb
sentence-transformers
huggingface-hub
pypdf

python-dotenv
rank-bm25

torch
transformers
streamlit-option-menu